
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
/*头部*/
#foorer-color{
	width: 100%;
	height: 200px;
	background-color: #3F51B5;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

#foorer-color>img{
	width: 120px;
	margin-top: 28px;
	margin-bottom: 8px;
}
#nav{
	width: 100%;
	height:45px ;
	background-color: #3A4BA7;
}
#nav>nav>a{
	color: #fff;
	line-height: 45px;
	opacity: 0.9;
	display:inline;
	padding: 0 80px;
	font-size: 12px;
}
#nav>nav>a:hover{
	opacity: 1;
}
#nav>nav{
	width: 900px;
	margin: 0 auto;
}
#content{
	width:900px;
	margin: 0 auto;
	margin-top: 30px;
}
#one{
	box-shadow: 0px 2px 5px #808080;
}
#one-img{
	width: 100%;
	height: 294px;
	background: url(../img/cover.jpg) center/cover;
	color: #fff;
	font-size: 21px;
	position: relative;
	border-radius: 5px;
	
}
#one-img>span{
	position: absolute;
	bottom:0;
	left: 15px;
	font-weight: 400;
}
#text{
	padding: 20px 15px;
	padding-bottom: 20px;
	color: rgba(0,0,0,0.5);
	font-size: 12px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#one-bottom>a{
	width: 130px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	font-size: 13px;
	color: rgb(255,64,129);
	font-weight: 570;
	margin: 10px 10px;
}
#one-bottom a:hover{
	border-radius: 5px;
	background-color: #ECECEC;
}
/*中间主体*/
#two{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-flow: nowrap;
}

#two-left{
	width: 210px;
	height: 200px;
	border-radius: 5px;
	background-color:#B2DFDB ;
	box-shadow:0px 2px 5px #808080;
	position: relative;
}
#two-left>.yuan{
	position: absolute;
	width: 42px;
	height: 42px;
	background-color: #fff;
	border-radius: 50%;
	color: #B2DFDB;
	line-height: 42px;
	left: 82px;
	top:80px;
}
#two-left>.yuan>b{
	position: absolute;
	left:15px;
}
#two-right{
	width: 670px;
	height: 200px;
	box-shadow:0px 2px 4px #808080;
	border-radius: 10px;
	overflow: hidden;
}
#two-txt{
	width: 630px;
	height:42px;
	padding:10px 18px 20px;
	font-size: 24px;
	line-height: 38px;
	font-weight: 200;
	overflow: hidden;
}
#two-content{
	color: rgba(0,0,0,0.5);
	height: 70px;
	font-weight: 400;
	width: 95%;
	font-size: 14px;
	padding: 0px 20px 4px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	overflow: hidden;
}
/*第三部分*/
#three{
	margin-top: 40px;
	display: flex;
}
.sex{
	border: 1px solid rgba(0,0,0,0.1);
	margin: 5px;
	border-radius: 2px;
	box-shadow:0px 2px 3px #808080;
}
#three>.sex>#three-img>img{
	width: 100%;
	border-radius: 2px;
	/*box-shadow:0px 2px 4px #808080;*/
	
}
#h>h2{
	font-weight:300;
	font-size: 28px;
	padding: 10px 10px;
	
}
#content-text{
	height: 101px;
	color: rgba(0,0,0,0.4);
	font-weight: 400;
	font-size: 13px;
	padding: 10px 10px;
	overflow: hidden;
}
/*中间主体第三部分最后的标签*/
#three-bottom{
	width: 100%;
	
	color: #fff;
	font-size: 13px;
	margin-top: 42px;
}
#three-bottom>span{
	display: block;
	width:130px;
	height: 36px;
	background-color: rgb(255,64,129);
	margin: 0 auto;
	line-height: 36px;
	padding-left:20px ;
	box-shadow:0px 2px 4px #808080;
	cursor: pointer;
	border-radius: 2px;
}
/*主体的最后一部分*/
.content-bottom{
	margin-top: 40px;
	padding-top: 30px;
	width: 100%;

	background-color: #eeeeee;
}
.content-bottom>#content{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
#testimonials{
	width: 600px;
	height: 265px;
	/*border: 1px solid #808080;*/
	background-color: #fff;
	box-shadow:0px 2px 4px #808080;
	margin-bottom: 30px;
}

#testimonials>h2{
	font-weight: 400;
	opacity: 0.7;
	padding-top: 15px;
	padding-left: 15px;
}
#test-ul>#li1{
	padding-top: 30px;
	padding-left: 10px;
}
li{
	width: 580px;
	height: 88px;
	overflow: hidden;
}
#text1{
	height: 42px;
	display: inline-block;
	margin-left: 20px;
	overflow: hidden;
	flex-flow: nowrap;
}
#text1>#s1{
	color: rgba(0,0,0,0.7);
	font-weight: 400;
	font-size: 16px;
}
#text1>#s2{
	color: rgba(0,0,0,0.5);
	font-weight: 400;
	font-size: 14px;
}
#li2{
	padding-left: 10px;
}
/*最后的右边*/
#teat-box{
	width: 270px;
	height: 265px;
	display: inline-block;
	background-color: #3E4EB8;
	border-radius: 2px;
	position: relative;
		
}
#teat-box>#box-top{
	height: 160px;
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	padding: 20px 20px;
	overflow: hidden;
}
#teat-box>.box-bottom{
	position: relative;
	border-top: 1px solid #fff;
	margin-top: 10px;
}
#teat-box>.box-bottom>a{
	width: 155px;
	height: 36px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	font-weight: 570;
	margin: 10px 15px;
	line-height: 34px;
	overflow: hidden;
}
#teat-box>.box-bottom>a:hover{
	background-color: rgba(255,255,255,0.2);
	border-radius: 3px;
}
#teat-box img{
	position: absolute;	
	right: 20px;
	top: 10px;
}
/*最后底部*/
#bottom{
	width: 100%;
	height:100px;
	background-color: #424242;
	color:#fff;
	text-align: center;
	line-height: 100px;
	font-size: 14px;
}
#bottom>div>a{
	color:#fff;
}
#bottom>div>span>a{
	font-size: 12px;
	color: #fff;
}
/*固定导航栏*/
.a{
	position:fixed; 
	bottom: 50px;
	right: 0;
}
